<form ng-controller="SignInController" ng-submit="signin()" id="login-form"   role="form" style="display: block ;" content="application/json" ng-model="signInModel">
    <div class="form-group">
        <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" ng-model="signInModel.email"/>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="signInModel.password"/>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
               <input type="submit"  name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In"/>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <p class="bg-danger">{{error}}</p>
            </div>
        </div>
    </div>


</form>
