<div class="page-header"></div>
<div class="container" ng-controller="competenceController">
    <div class="row">
        <div class="col-xs-2">
            <h4>Competences</h4>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-5" ng-repeat="competence in competences">

                   <p class="h5" ng-hide="editorCompetenceEnabled && competence == activeCompetence"> {{competence.nameCmpt}}
                       <a ng-click="enableCompetenceEditor(competence)" >
                           <span class="glyphicon glyphicon-pencil edit">Edit</span>
                       </a>
                   </p>
                    <div ng-show="editorCompetenceEnabled && competence == activeCompetence">
                        <input type="text" ng-model="editableCompetence.nameCmpt">
                        <a ng-click="saveComeptence(editableCompetence.idCmpt, editableCompetence.nameCmpt)"><span
                        class="glyphicon glyphicon-floppy-saved save">Save</span>
                        </a> or
                        <a ng-click="disableCompetenceEditor()">
                            <span class="glyphicon glyphicon-floppy-remove cancel">Cancel</span>
                        </a>

                    </div>
                    <div ng-repeat="elt in competence.elts">
                        <p class="small" ng-hide="editorCompetenceEltEnabled && elt == activeEltCompetence">
                            <strong>{{elt.nameElt}}</strong> - {{elt.detailElt}}
                            <a ng-click="enableCompetenceEltEditor(elt)"  >
                                <span class="glyphicon glyphicon-pencil edit">Edit</span>
                            </a>
                        </p>
                        <div ng-show="editorCompetenceEltEnabled && elt == activeEltCompetence">
                            <input type="text" size="10" ng-model="editableEltCompetence.nameElt"> - <input type="text"  size="10" ng-model="editableEltCompetence.detailElt">
                            <a ng-click="saveComeptenceElt(editableEltCompetence.idElt, editableEltCompetence.nameElt, editableEltCompetence.detailElt )"><span
                            class="glyphicon glyphicon-floppy-saved save">Save</span>
                            </a> or
                            <a ng-click="disableCompetenceEltEditor()">
                                <span class="glyphicon glyphicon-floppy-remove cancel">Cancel</span>
                            </a>

                        </div>




                       

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>