<div class="page-header"></div>
<div class="container" ng-controller="competenceController">
    <div class="row">
        <div class="col-xs-2">
            <h4>Competences</h4>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-5" ng-repeat="competence in competences">
                    <div ng-repeat="(competenceName, elts) in competence">
                        <p class="h5" ng-hide="editorCompetenceEnabled">{{competenceName}}</p>
                        <a ng-click="enableCompetenceEditor()"  ng-hide="editorCompetenceEnabled">
                            <span class="glyphicon glyphicon-pencil edit">Edit</span>
                        </a>
                        <div ng-show="editorEnabled">
                            <input type="text" ng-model="editableCompetence">
                            <a ng-click="saveComeptence( ,editableCompetence)"><span
                            class="glyphicon glyphicon-floppy-saved save">Save</span>
                            </a> or
                            <a ng-click="disableEditor()">
                                <span class="glyphicon glyphicon-floppy-remove cancel">Cancel</span>
                            </a>

                        </div>
                        <p class="small" ng-repeat="elt in elts">
                            <strong>{{elt.name}}</strong> - {{elt.detail}}
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>