<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="refresh" content="5; url=/login" />
<title>Congratulations !</title>

	<link rel="stylesheet" type="text/css"
		  href="@routes.Assets.versioned("css/bootstrap.min.css")"/>

    <link rel="stylesheet" type="text/css"
          href="@routes.Assets.versioned("css/style.css")"/>

</head>
<body>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="panel panel-success">
		
		      <div class="panel-heading">Congratulations !</div>
		      <div class="panel-body">
		        Registration was successful. You can now,make a bootstrap resume free !
		        <p>You will redirect to the login page in 5 seconds ... Please <a href="/login">click here</a> if you are not redirected</p>
		      </div>
		   </div>
		</div>
	</div>
</div>



<script src="@routes.Assets.versioned("js/jquery-2.1.4.min.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("js/script.js")"></script>
</body>
</signInField>