<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Login/Register</title>
        <link rel="stylesheet" type="text/css"
        href="@routes.Assets.versioned("css/bootstrap.min.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/style.css")"/>
    </head>
    <body>


       @forms.formContainer()






    <script src="@routes.Assets.versioned("js/jquery-2.1.4.min.js")"></script>
    <script src="@routes.Assets.versioned("js/script.js")"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("js/angular.min.js")"></script>
    <script src="@routes.Assets.versioned("js/angular-ui.js")"></script>
    <script src="@routes.Assets.versioned("js/angular-resource.js")"></script>


    <script src="@routes.Assets.versioned("js/script-ng.js")"></script>
    <script src="@routes.Assets.versioned("js/services/userService.js")"></script>
    <script src="@routes.Assets.versioned("js/services/userDetailService.js")"></script>
    <script src="@routes.Assets.versioned("js/services/signInUpService.js")"></script>


    </body>
</html>